body {
    font-family: Arial;
    background: #f4f4f4;
    margin: 0;
}

nav {
    background: #333;
    color: white;
    padding: 15px;
}

nav a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 20px auto;
}

.card {
    background: white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background: black;
    color: white;
    border: none;
}